$white: #ffffff;
$mainBlack: #000000;
$secondaryBlack: #222222;
$secondaryColor: #968762;

$headerHeight: 15vh;
$shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.5);
$textShadow: -.1em -.1em rgba(0, 0, 0, .5);

@import '__variable.scss';

@mixin hoverText {
    color: $white;
    text-shadow: $textShadow;
    transition: all .8s;

    &:hover{
        color: $secondaryColor;
    } 
}

*{
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	scroll-behavior: smooth;
    box-sizing: border-box;
	text-decoration: none;
    position: relative;
    list-style: none;
}


body,html{
	height:100%;
}

body{
    font-size: 18px;
}

.header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pageLayout{
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr 1fr auto;
}

.theHeader{
    width: 100%;
    height: $headerHeight;
    background: transparent;
    
    font-size: 1.2em;
    line-height: $headerHeight;
    text-align: center;

    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    z-index: 1;

    a{
        @include hoverText();
    }
    
    .hamburgerMenu{
        display:none;

        position: absolute;
        left: 1em;
        .menu{
            font-size: 2em;
            color: $white;
        }
    }

    ul{
        li{
            display: inline;

            a {
                padding: 1em;
            }
        }
    }

    .logo{
        text-transform: capitalize;
        font-size: 3em;
        font-weight: 400;
        color: $white;
        padding: 0;
        font-style: italic;
    }
}

.landingPage{
    height: 100vh;
    width: 99vw;
    background-color: $mainBlack;
    background-image: url('../Assets/Tools.jpeg');
    background-position: top center;
    background-size: cover;

    display: grid;
    grid-template-rows: repeat(1, 1fr);
    place-items: end center ;

    .bookNow{
        @include hoverText();
        margin: 0 0 $headerHeight;
        padding: 1em;
        background: $secondaryColor;

        box-shadow: $shadow;
        text-shadow: unset;
        font-size: 1.5em;

        &:hover{
            box-shadow: inset $shadow;
            transform: scale(.95);
            color: $white;
            border-radius: 10%;
            
        }
    }

    // .headerContainer{
    //     height: 50%;
    // }

    // .landingHeader{
    //     @include hoverText();
    //     font-size: 5em;
    //     line-height: 2em;
    //     text-transform: capitalize;
    //     font-weight: 500;
    //     padding: 0 1em;
    // }
}

.services{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;

    img{
        object-position: end;
        grid-column: 1 / span 1.5;
        height: 80vh;
        padding: 1em 0;
    }

    .innerStyles{
        grid-column: 2 / span 3;
        width: 80%;
    }

    .header{
        color: $mainBlack;
        font-size: 3em;
        padding: 1em;
        text-align: center;
    }

    .servicesUl{
        display: grid;
        gap: 1em;
    }

    .innerUl{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        li{
           display: inline;
           text-align: start;
           font-size: 1.2em;
           color: $secondaryBlack;
        }

        li + li {
            text-align: end;
        }
    }
}

.footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 30vh;

    background: $secondaryBlack;
    color: $white;
    place-items: center;
    text-align: center;

    .contactUs{

        .logo{
            font-size: 3em;
            transition: all .8s;

            &:hover{
                color: $secondaryColor;
            } 
        }

        .socialMedia{
            padding: 1em 0;

            li{
                display: inline;
                padding: 1em;
            }
        }
    }

    .businessHours{
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);

        .header{
            font-size: 2em;
            padding: 0 .5em;
            transition: all .8s;

            &:hover{
                color: $secondaryColor;
            } 
        }

        .hours{
            text-align: start;
        }
    }
    
    .copyRight{
        grid-column: 1/4;
    }
}