@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

* {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  position: relative;
  list-style: none;
}

body, html {
  height: 100%;
}

body {
  font-size: 18px;
}

.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pageLayout {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-rows: 1fr 1fr auto;
      grid-template-rows: 1fr 1fr auto;
}

.theHeader {
  width: 100%;
  height: 15vh;
  background: transparent;
  font-size: 1.2em;
  line-height: 15vh;
  text-align: center;
  display: -ms-grid;
  display: grid;
  gap: 1em;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  position: absolute;
  z-index: 1;
}

.theHeader a {
  color: #ffffff;
  text-shadow: -0.1em -0.1em rgba(0, 0, 0, 0.5);
  -webkit-transition: all .8s;
  transition: all .8s;
}

.theHeader a:hover {
  color: #968762;
}

.theHeader .hamburgerMenu {
  display: none;
  position: absolute;
  left: 1em;
}

.theHeader .hamburgerMenu .menu {
  font-size: 2em;
  color: #ffffff;
}

.theHeader ul li {
  display: inline;
}

.theHeader ul li a {
  padding: 1em;
}

.theHeader .logo {
  text-transform: capitalize;
  font-size: 3em;
  font-weight: 400;
  color: #ffffff;
  padding: 0;
  font-style: italic;
}

.landingPage {
  height: 100vh;
  width: 99vw;
  background-color: #000000;
  background-image: url("../Assets/Tools.jpeg");
  background-position: top center;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  place-items: end center;
}

.landingPage .bookNow {
  color: #ffffff;
  text-shadow: -0.1em -0.1em rgba(0, 0, 0, 0.5);
  -webkit-transition: all .8s;
  transition: all .8s;
  margin: 0 0 15vh;
  padding: 1em;
  background: #968762;
  -webkit-box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.5);
  text-shadow: unset;
  font-size: 1.5em;
}

.landingPage .bookNow:hover {
  color: #968762;
}

.landingPage .bookNow:hover {
  -webkit-box-shadow: inset 2px 2px 6px 2px rgba(0, 0, 0, 0.5);
          box-shadow: inset 2px 2px 6px 2px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  color: #ffffff;
  border-radius: 10%;
}

.services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.services img {
  -o-object-position: end;
     object-position: end;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1.5;
  height: 80vh;
  padding: 1em 0;
}

.services .innerStyles {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
  width: 80%;
}

.services .header {
  color: #000000;
  font-size: 3em;
  padding: 1em;
  text-align: center;
}

.services .servicesUl {
  display: -ms-grid;
  display: grid;
  gap: 1em;
}

.services .innerUl {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.services .innerUl li {
  display: inline;
  text-align: start;
  font-size: 1.2em;
  color: #222222;
}

.services .innerUl li + li {
  text-align: end;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  min-height: 30vh;
  background: #222222;
  color: #ffffff;
  place-items: center;
  text-align: center;
}

.footer .contactUs .logo {
  font-size: 3em;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.footer .contactUs .logo:hover {
  color: #968762;
}

.footer .contactUs .socialMedia {
  padding: 1em 0;
}

.footer .contactUs .socialMedia li {
  display: inline;
  padding: 1em;
}

.footer .businessHours {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.footer .businessHours .header {
  font-size: 2em;
  padding: 0 .5em;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.footer .businessHours .header:hover {
  color: #968762;
}

.footer .businessHours .hours {
  text-align: start;
}

.footer .copyRight {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}
/*# sourceMappingURL=styles.css.map */